body {
  font-family: "Courier New";
  margin: 20px;
  background-color: black;
  color: white;
}

.row {
  width: 750px !important;
}

.column {
  float: left;
  width: 250px;
  text-align: center;
  height: 400px;
  display: table-cell;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

textarea {
  height: 300px;
  width: 90%;
}

button {
  font-size: 2em;
  margin-top: 25px;
  height: 100px;
  cursor: pointer;
}
