body {
  font-family: 'Hepta Slab', 'Times New Roman', serif;
  font-size: 14px;
  margin-bottom: 50px;
}

h1 {
  font-family: 'Kelly Slab', cursive;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

h2 {
  font-weight: bold;
  font-size: 2em;
}

p {
  padding: 5px 0;
  text-align: justify;
}

div#container {
  width: 80%;
  margin: 0 auto;
}

textarea {
  width: 100%;
  font-family: 'Source Code Pro', 'Courier New', monospace;
  height: 100px;
  margin-top: 10px;
}

ul li {
  padding-left: 10px;
  list-style-type: disc;
  list-style-position: inside;
}
ul li ul li {
  padding-left: 20px;
  list-style-type: circle;
  font-family: 'Source Code Pro', 'Courier New', monospace;
}

#results {
  display: none;
}

table {
  margin-top: 20px;
  width: 100%;
}

thead {
  background-color: black;
  color: white;
}

td, th {
  white-space: nowrap;
}

th {
  font-weight: bold;
  padding-right: 10px;
}

tbody tr:nth-child(even) {background-color: #f2f2f2;}

td {
  font-size: 0.75em;
  padding-right: 5px;
}

tr.INVALID {
  color: maroon;
}

tr td:first-child {
  text-align: center;
}

.thcntr {
  text-align: center;
  font-size: 0.75em;
}
